body {
    background-color: #fae2e2;
}

.range-wrap {
    position: relative;
}
.range-value {
    position: absolute;
    bottom: -20%;
}
.range-value span {
    width: 30px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: #ffffff;
    color: rgb(32, 32, 32);
    font-size: 12px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 6px;
}
.range-value span:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 10px solid #ffffff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
}
